<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Телефонная книга</title>

    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=0.75, user-scalable=no">

    <script src="/static/vue.js"></script>
    <script src="/static/book.js"></script>
</head>
<body>
    <input id="book_id" type="hidden" value="[% book_id %]">
    <div class="container" id="book">
        <div v-if="loading" class="loading"></div>

        <div class="toolbar">
            <button v-on:click="addRecord()">Добавить</button>
        </div>

        <div class="book-record" v-for="record in records" v-bind:key="record.book_record_id" v-bind:class="{new: isNew(record)}">

            <div v-if="record.saving" class="loading"></div>
            <div v-if="record.edit">
                <p><input v-model="record.newName"  maxlength="255" placeholder="Имя"></p>
                <p><input v-model="record.newPhone" maxlength="20"  placeholder="Номер телефона"></p>
                <ul v-if="record.editErrors.length" class="errors">
                    <li v-for="error in record.editErrors">{{ error }}</li>
                </ul>
                <div class="actions">
                    <button v-on:click="editSave(record)">Сохранить</button>
                    <button v-on:click="editCancel(record)">Отмена</button>
                </div>
            </div>

            <div v-if="!record.edit">
                <p>{{record.name}}</p>
                <p>{{record.phone}}</p>
                <div class="actions">
                    <button v-on:click="editStart(record)">Редактировать</button>
                    <button v-on:click="deleteRecord(record)" class="danger">Удалить</button>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
